<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erp.wms" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/warehouse"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".material.inventory_inbound.MainActivity"
            android:icon="@drawable/inbox"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_inbound.HeaderActivity"
            android:icon="@drawable/inbox"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_inbound.EnrollActivity"
            android:icon="@drawable/inbox"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_inbound.ViewActivity"
            android:icon="@drawable/inbox"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".custom.inventory_inbound.MainActivity"
            android:icon="@drawable/rack"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".custom.inventory_inbound.EnrollActivity"
            android:icon="@drawable/rack"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".custom.inventory_inbound.ViewActivity"
            android:icon="@drawable/rack"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_putaway.MainActivity"
            android:icon="@drawable/grid"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_putaway.HeaderActivity"
            android:icon="@drawable/grid"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_putaway.EnrollActivity"
            android:icon="@drawable/grid"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_putaway.ViewActivity"
            android:icon="@drawable/grid"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_move.MainActivity"
            android:icon="@drawable/move_by_trolley"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_move.HeaderActivity"
            android:icon="@drawable/move_by_trolley"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_move.EnrollActivity"
            android:icon="@drawable/move_by_trolley"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_move.ViewActivity"
            android:icon="@drawable/move_by_trolley"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_adjust.MainActivity"
            android:icon="@drawable/coins"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_adjust.HeaderActivity"
            android:icon="@drawable/coins"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_adjust.EnrollActivity"
            android:icon="@drawable/coins"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_adjust.ViewActivity"
            android:icon="@drawable/coins"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_picking.MainActivity"
            android:icon="@drawable/shopping_cart_loaded"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_picking.HeaderActivity"
            android:icon="@drawable/shopping_cart_loaded"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_picking.EnrollActivity"
            android:icon="@drawable/shopping_cart_loaded"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_picking.ViewActivity"
            android:icon="@drawable/shopping_cart_loaded"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_shipment.MainActivity"
            android:icon="@drawable/delivery"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_shipment.HeaderActivity"
            android:icon="@drawable/delivery"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_shipment.EnrollActivity"
            android:icon="@drawable/delivery"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_shipment.ViewActivity"
            android:icon="@drawable/delivery"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_check.MainActivity"
            android:icon="@drawable/accept_database"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".material.inventory_check.MainListActivity"
            android:icon="@drawable/accept_database"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
    </application>

</manifest>
